{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends "BloggerBlogBundle::layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date">
                <time datetime="{{ blog.createdAt| date('c') }}">{{ blog.createdAt| date('l F j Y') }}</time>
                {% if app.session.get('user') %}
                {% if blog.user.id == app.session.get('user').userId %}
                    <span style="float: right">
                        <a href="{{ path ("blog_del",{'id': blog.id})}}">delete</a> 
                    </span>
                {% endif %}    
                {% endif %}    
            </div>
            
            <header>
                <h2><a href="{{ path ('blogs_show', { 'id': blog.id } )}}">{{ blog.title }}</a></h2>
            </header>    

            <img src="{{ asset(['images/', blog.image]|join) }}" />   
            <div class="snippet">
                <p>{{ blog.blog | truncate(500, true, '.......')}}</p>
                <p class="continue">
                    <a href="{{ path ('blogs_show', { 'id': blog.id } )}}">Cotinue Reading...</a>
                </p>
            </div>

            <footer class="meta">
                <p>Comments...</p>
                <p>Posted By <span class="highlight">{{ blog.user.firstName }} {{ blog.user.lastName }}</span> 
                    at {{ blog.createdAt|date('h:iA') }}</p>
                <p>Tags: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p> There are no blog entries to show.</p>
    {% endfor %}
{% endblock %}
