{% extends "BloggerBlogBundle::layout.html.twig" %}

{% block title %}Registration{% endblock %}

{% block body %}
    <section >
        {% if error is defined %}
            <div class="blogger-notice"> {{ error }} </div>
        {% endif %}
            
        <form name="frmRegister" id="frmRegister" action="{{ path('blogs_register') }}" enctype="{{ form_enctype(form) }}" method="POST" class="blogger">
            {{ form_errors(form) }}
            
            {{ form_widget(form) }}
            
            <input type="submit" value="Register Me!" />
        </form>
    </section>
<script>
    window.onload = function() {
        document.getElementsByTagName("input")[0].focus();
    }
</script>
{% endblock %}
